@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Taqweem</h2>

<div class="row">

    <div class="col-md-12">

        <p>The Holy Qur’an says, “Then woe to those prayer performers. Who are heedless of their prayers (Part 30, Surah Ma-oon, verse 4-5)</p>

        <p>

            This site has been designed in collaboration with Rapidsoft. RapidSoft cc is an IT solutions company with a personal touch. RapidSoft is based

            in Johannesburg, South Africa, with client base extending across South Africa,

            Zambia and Namibia. The company was established in July 1995, and has since been developing customized solutions as well as packaged software. Currently, RapidSoft is in the process of

            embarking on a marketing campaign in order to promote the POSibility Point of Sale System. <a href="http://www.rapidsoft.co.za/">www.rapidsoft.co.za</a>

        </p>
        <br />
        <img src="~/img/rapidad.png">

        <a href="http://www.mbdsa.co.za/MusjidSalaahTimeTable/index.php">
            <img src="~/img/masjidtimetable.png">
        </a>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#home_nav").removeClass("active");
        $("#about_nav").addClass("active");
    });
</script>