@model MasjidViewModel 

@{
    ViewData["Title"] = "AddMasjid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="preAdd">

    <h2>Add Masjid</h2>

    <h6>Select the location of the masjid on the map to automatically input the co-ordinates</h6>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUs6gpwmJ8WRZXjIPQH-wyPEu_P2hdHo0&sensor=false"></script>

    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <div id="map" style="height: 600px; width:100%"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <form asp-antiforgery="true" name="submitMasjidForm" id="submitMasjidForm">
                        <fieldset class="form-group">
                            <label>Name</label>
                            <input type="text" asp-for="Name" placeholder="Enter Masjid Name" class="form-control typeahead" style="width:100% !important;" required />
                            <span asp-validation-for="Name" class="text-danger"></span>

                            <label>Town</label>
                            <input type="text" asp-for="Town" placeholder="Enter Masjid Town" class="form-control typeahead" style="width:100% !important;" required />
                            <span asp-validation-for="Town" class="text-danger"></span>

                            <label>Country</label>
                            <input type="text" asp-for="Country" placeholder="Enter Masjid Country" class="form-control typeahead" style="width:100% !important;" required />
                            <span asp-validation-for="Country" class="text-danger"></span>

                            <label>Physical Address</label>
                            <input type="text" asp-for="Address" placeholder="Enter Physical Address" class="form-control typeahead" style="width:100% !important;" required />
                            <span asp-validation-for="Address" class="text-danger"></span>

                            <label><input type="checkbox" asp-for="LadiesFacility"> Ladies Facility</label><br>

                            <label>Time Zone</label>
                            <select asp-for="TimeZoneId" class="form-control" required>
                                @foreach(var Item in TimeZoneInfo.GetSystemTimeZones())
                                {
                                    <option value="@Item.Id"> @Item.StandardName - @Item.DisplayName </option>
                                }
                            </select>
                            <span asp-validation-for="TimeZoneId" class="text-danger"></span>

                            <label>Latitude</label>
                            <input asp-for="Latitude" type="text" class="form-control" placeholder="Latitude" required autofocus>
                            <span asp-validation-for="Latitude" class="text-danger"></span>

                            <label>Longitude</label>
                            <input asp-for="Longitude" type="text" class="form-control" placeholder="Longitude" required autofocus>
                            <span asp-validation-for="Longitude" class="text-danger"></span>

                            <label>Security Question - What is 3 added to 3?</label>
                            <input asp-for="SecurityQuestion" type="text" class="form-control" placeholder="Security Question" required autofocus>
                            <span asp-validation-for="SecurityQuestion" class="text-danger"></span>
                        </fieldset>

                        <fieldset class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Masjid</button>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="postAdd" style="display:none">
    <h2>Successful</h2>

    <h5>Shukran, the new masjid details which you have supplied have been captured into our database. May Allah reward you for your efforts</h5>
</div>

<div id="failAdd" style="display:none">
    <h2>Unsuccessful</h2>

    <h5>Unfortunately the Masjid details which you have supplied could not be captured successfully. Please try again later.</h5>
</div>

<script type="text/javascript">
        var map;

        function load() {

            var map = new google.maps.Map(document.getElementById("map"), {

                center: new google.maps.LatLng(0, 0),

                zoom: 1,

                mapTypeId: 'roadmap'

            });

            var infoWindow = new google.maps.InfoWindow;

            geocoder = new google.maps.Geocoder();

            directionsDisplay = new google.maps.DirectionsRenderer();

            google.maps.event.addListener(map, 'click', function (event) {

                marker = new google.maps.Marker({ position: event.latLng, map: map });

                var lat = event.latLng.lat();

                var lng = event.latLng.lng();

                $("#Latitude").val(lat);

                $("#Longitude").val(lng);
            });
        }

        function doNothing() { }
</script>

<script>
    $(document).ready(function () {
        $("#home_nav").removeClass("active");
        $("#add_nav").addClass("active");
        load();
        });

    $("#submitMasjidForm").submit(function (event) {

        event.preventDefault();

        $.ajax({
            type: 'post',
            url: '@Url.Action("PostAddMasjid", "Home")',
            data: $("#submitMasjidForm").serialize(),
            success: function (data) {
                if (data == "Successful") {
                    $("#postAdd").css("display", "inline");
                    $("#preAdd").css("display", "none");
                    $("#submitMasjidForm").trigger('reset');
                }
                else {
                    $("#failAdd").css("display", "inline");
                    $("#preAdd").css("display", "none");
                    $("#submitMasjidForm").trigger('reset');
                }
            }
        });
    });
</script>