@{
    ViewData["Title"] = "Home Page";
}


<div id="located" style="text-align:center; visibility: hidden;">
    <form>
        <table style="width:100%" class="table table-striped table-sm">
            <thead class="thead"><tr><th colspan="4"><center><h5><strong>My Location</strong></h5></center></th></tr></thead>
            <tr>
                <td><h4><div style="text-align:center; font-size:18px;">Latitude</div></h4></td>
                <td><h4><div id="Latitude" style="text-align:center; font-size:18px;"></div></h4></td>
                <td><h4><div style="text-align:center; font-size:18px;">Longitude</div></h4></td>
                <td><h4><div id="Longitude" style="text-align:center; font-size:18px;"></div></h4></td>
            </tr>
            <tr>
                <td><h4><div id="currentdate" style="text-align:center; font-size:18px;"></div></h4></td>
                <td><h4><div id="currenttime" style="text-align:center; font-size:18px;"></div></h4></td>
                <td><h4><div id="ctimezone" style="text-align:center; font-size:18px;"></div></h4></td>
                <td><h4><div id="cperp" style="text-align:center; font-size:18px;"></div></h4></td>
            </tr>
            <tr>
                <td><input type="range" id="rangeInput" name="rangeInput" value="7" min="3" max="300" onchange="updateTextInput(this.value);"></td>
                <td><h4><div id="textInput" style="text-align:center; font-size:18px;">Radius: 7 KM</div></h4></td>
            </tr>

        </table>
    </form>


    <div id="users">
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
		function updateTextInput(val) {
			document.getElementById('textInput').innerHTML = val + "KM";
			GetRadiusTimes(document.getElementById('Latitude').innerHTML, document.getElementById('Longitude').innerHTML, val);
		}
    </script>

    <script>
		var Timer = 0;
		(function () {
			function checkTime(i) {
			return (i < 10) ? "0" + i : i;
		}

		function startTime() {
			Timer += 1;

			if (Timer == 6){
				if (Location.lat != undefined){
					UserLatitude = Location.lat;
					UserLongitude = Location.lng;
					ZoomLength = 12;
					var todayz = new Date();
					var tzn = todayz.getTimezoneOffset();
					tzn = tzn / -60;
					document.getElementById("Latitude").innerHTML = UserLatitude;
					document.getElementById("Longitude").innerHTML = UserLongitude;
					var PerpetualLink = "<a href='report_perpetual_location.php?Lat=" + UserLatitude + "&Lng=" + UserLongitude + "&TZ=" + tzn + "'>View Perpetual Times</a>";
					document.getElementById("cperp").innerHTML = PerpetualLink;
					GetRadiusTimes(UserLatitude,UserLongitude, 7, 'Init');
				}
			}

			if (Timer == 120){
				location.reload();
			}

			var today = new Date(),
			h = checkTime(today.getHours()),
			m = checkTime(today.getMinutes()),
			s = checkTime(today.getSeconds());
			var n = today.getTimezoneOffset();
			n = n / -60;
			document.getElementById('currentdate').innerHTML = today.toDateString();
			document.getElementById('currenttime').innerHTML = h + ":" + m + ":" + s;
			document.getElementById('ctimezone').innerHTML =  "Device Timezone: " + n;
			t = setTimeout(function () {startTime()}, 500);
		}

		startTime();
		})();
    </script>

</div>


<div id="orig-header" class="service-header">
    <h1>Taqweem Musjid Guide</h1>
    <h3>Select your location on the map</h3>
</div>
<div id="map" style="height: 600px; width:100%"></div>

<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td><div class="timetable" id="ptimes"></div>
        <td><div id="directionsPanel" class="Font12BrownTahoma"></div></td>
    </tr>
</table>