@model MasjidListViewModel

@{
    ViewData["Title"] = "MasjidList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #383838;
        }
    </style>
}

<h2>Taqweem Masjid Directory</h2>
<br /><br />

<div class="row">
    <div class="col-md-12">
        <table id="maintable" class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Town</th>
                    <th>Country</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model.Masjids)
                {
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.Town</td>
                        <td>@Item.Country</td>
                        <td><a href="@Url.Action("MasjidInfo", "Home", new { Id = Item.Id })">View</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#directory_nav").addClass("active");
        $("#home_nav").removeClass("active");

        var table = $('#maintable').DataTable({
            responsive: true,
            "dom": '<lf<t>ip>',
            "ordering": false,
            "columns": [
                { "data": "a1" },
                { "data": "a2" },
                { "data": "a3" },
                { "data": "a4" },
            ],
            "columnDefs": [{
                "targets": [0, 1, 2, 3], // column or columns numbers
                "orderable": false,  // set orderable for selected columns
            }],
        });
    });
</script>