@model MasjidListViewModel

@{
    ViewData["Title"] = "MasjidList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Taqweem Masjid Directory</h2>
<br /><br />

<div class="row">
    <div class="col-md-12">
        <table id="maintable" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Town</th>
                    <th>Country</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model.Masjids)
                {
                    <tr>
                        <td>@Item.Name</td>
                        <td>@Item.Town</td>
                        <td>@Item.Country</td>
                        <td><a href="@Url.Action("MasjidInfo", "Home", new { Id = "ABC" })">View</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#maintable').DataTable();
    });
</script>