@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>

<script>
    $(document).ready(function () {
        $("#login_nav").addClass("active");
        $("#home_nav").removeClass("active");
    });
</script>