<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp  deliveryMethod="Network" from="Taqeemmasjid@gmail.com">
        <network host="in.mailjet.com "
        userName="e4c449d5c56e09c5f3b49f74ef60f230"
        password="dc3c91fac5cee339cdd35aa26f323230"
        port="587" />
      </smtp>
    </mailSettings>
  </system.net>


  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^taqweem\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="https://taqweem.rapidsoft.co.za/{R:0}" />
        </rule>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
